*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: "Lexend Deca Light";
}
html{
    font-size: 62.5%;
}
body{
    height: 600px;
    display: grid;
    place-items: center;
    background-color: #f0f0f0;
}
h1{ 
    font-size: 100px; 
    color: #464646; 
    margin: 2rem 0 1rem 0;
}
p{
    font-size:5rem
}
section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  
}
.counter{
    text-align: center;
}
.fa-brands{
    font-size: 15rem;
}